/* Custom styles for form select */
.form-selects {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

/* Style when the select is focused */
.form-selects:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* Style for selected option */
.form-selects option {
    color: #495057;
    background-color: #fff;
}

/* Style for the dropdown arrow */
.form-selects::after {
    content: '\25BC';
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    pointer-events: none;
}

/* Style for the disabled state */
.form-selects:disabled {
    background-color: #e9ecef;
    opacity: 1;
}

/* Style for the disabled options */
.form-selects:disabled option {
    color: #6c757d;
}

.overview{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cards {
    width: 100%;
    margin-bottom: 1rem;
}

@media (min-width: 768px) {
    .cards {
        width: 30%;
    }
}

.input-group-text.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
}

.input-group-text.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
    color: #fff;
}

.center-image {
    display: flex;
    justify-content: center;
    align-items: center;
}